spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/abcm_kyc_ms_db?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: Abcmapp@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
ContextPath: http://203.192.228.125:1002/KycRouting

server:
  port: 8089

logging:
  level:
    root: INFO



LogFilepath: /home/logs/kyc-panel/kyc-routing/

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info
  endpoint:
    health:
      show-details: always
prometheus:
 metrics:
 export:
 enabled: true

 
 spring.jpa.properties.hibernate.format_sql: true
 
 
 springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
 
