


/* h5 {
    color: blue;
} */
.kyc-logo a img {
    width: 150px;
}
.kyc-box {
    padding: 22px 10px;
    background: #f0ffff9e;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.kyc-box h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
}

.insight-kyc {
    background: azure;
}
.app-table {
    background: #f0ffff9e;
}
.kyc-fivele {
    padding: 10px;
}
 body, .pc-header  {
    /* background: repeating-linear-gradient(90deg, #08508d08, #e7e7e72b 160px); */
   /* background: linear-gradient(to right, #fbc2eb, #a6c1ee); */
    /* background: linear-gradient(135deg, #667eea, #764ba2); */
    /* background: linear-gradient(to right, #fc466b, #3f5efb); */
    background: linear-gradient(120deg, #f6fdff, #33313100);
}
/* .pc-header {
    background: repeating-linear-gradient(180deg, #f4f7f9, #f9fafb 160px);
}
#kycsidebar{
    background: repeating-linear-gradient(90deg, #08508d00, #e7e7e721 160px);
} */
.kyc-btn {
    display: flex;
    justify-content: space-between;
}
.kyc-btn a{
    padding: 3px 8px;
}
.kyc-products {
    display: flex;
    justify-content: space-between;
}
/* #pills-tabContent {
    margin-top: 1.5rem;
} */

.kyc-wallet label{
    margin: 0;
    font-size: 11px;
    color: rgb(174 174 174);
}
.kyc-wallet-details{
    margin: 0;
}
/* .billing-table {
    background: #dfffdf5c;
} */
.billing-table h5{
    color: black;
}
.billing-table > .card-header{
   box-shadow: rgb(0 0 0 / 6%) 0px 3px 8px;
}
.add-balance {
    display: flex;
    justify-content: end;
}
.balance-add input{
    border: none !important;
    border-bottom: 2px solid #4cb592 !important;
    border-radius: 0 !important;
    background: azure;
}
.balance-add .input-group-text{
    border: none !important;
    border-bottom: 2px solid #4cb592 !important;
    border-radius: 0 !important;
    background: rgb(223, 223, 223);
    padding: 0.48rem 1.4rem !important;
    font-size: 1.2rem !important;
}
.custom-body{
    max-width: 250px;
}
.kyc-reports ul li a{
    border-radius: 0 !important;
    padding: 15px 0px;
    font-size: 13px;
    font-weight: 600;
    background: #dfffdf;
    /* color: #333 !important; */
    margin: 0 4px 0 0;
   
}
.kyc-reports ul li a i{
    color: #ffc342;
    margin-right: 6px;
    font-size: 1rem;
}
.kyc-reports .nav-pills .nav-link.active {
    background-color: #dcdcdc !important;
}
.auth-table .form-check-input {
    float: none !important;
}
.auth-table .custom-switch-v1.form-switch {
    padding-left: 0 !important;
}
.auth-table .form-check-inline {
    margin-right: 0 !Important;
}
.auth-table .custom-switch-v1.form-switch .form-check-input {
    margin-left: 0;
}
.card {
    box-shadow: rgb(0 0 0 / 7%) 0px 5px 15px 0px;
    border-radius: 0;
}

.env-btns  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    margin-top: 1rem;
}
.env-btns button {
    width: 50%;
}

.kyc-slider {
    border: 2px solid #42ac41;
}
/* .kyc-slider img{
    border-radius: 10px;
} */

/* .dh-350 {
    position: sticky;
    top: 75px;
    height: 280px;
    background: #DCEDC8;
    border-radius: 10px;
}
.neg-h {
    position: relative;
    top: -280px;

} */

.rc {
    color: #5270ff;
}
.rc i{
    font-size: 13px !important;
    margin-right: 1px !important;
    color: #432ce2;
}
/* .m-boxes .card:hover {
    background: #ebebeb;
} */
.bbps-wallet button {
    min-width: 120px;
    border-radius: 0;
    box-shadow: 0 6px 7px -1px rgba(80, 86, 175, 0.3);
}
.custom-body {
    margin: auto;
}

#mkyc > .pc-item.active > .pc-link {
    color: #08508d !important;
}
#mkyc > .pc-item.active > .pc-link > pc-micon {
    color: #08508d !important;
}

/* pagonation */

.pagination-inner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.pagination-inner select{
    padding: 0.38rem 2rem 0.38rem 0.75rem !important;
}


/* pagonation */


.m-boxes .card{
    border-bottom: 5px solid #be9cff;
    border-radius: 0;
}
.m-boxes .card .card-body {
        display: flex;
    justify-content: space-between;
    padding: 27px 10px;
}
.bg-body h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 8px;
}
.xx-grp-car .card {
    border-radius: 0 !important;
}
.xx-grp-car .card .card-header {
    padding: 12px 10px;
    border-radius: 0;
    background: #08508d;
}
.xx-grp-car .card .card-header h5{
    color: #fff;
}
.page-block select {
    padding: 0.38rem 2rem 0.38rem 0.75rem !important;
    border-radius: 0;
}
#addBalance select, #addBalance input {
    padding: 0.38rem 2rem 0.38rem 0.75rem !important;
    border-radius: 0 !important;
}
#listabcm select, #listabcm input {
    padding: 0.38rem 2rem 0.38rem 0.75rem !important;
    border-radius: 0 !important;
    width: 100%;
}

.xx-gcard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px !important;

}
.input-group input, select, #productsDropdown{
    padding: 0.38rem 2rem 0.38rem 0.75rem !important;
    border-radius: 0 !important; 
}
.input-group-text, #basic-addon1 {
    padding: 0.38rem 0.75rem 0.38rem 0.75rem !important;
    border-radius: 0 !important; 
}
button {
    border-radius: 0 !important;
}
.card-header {
    padding: 12px 10px;
    border-radius: 0 !important;
    background: #08508d;
     color: #fff !important;
}
.card-header h5 {
    color: #fff !important;
}

.xx-name {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.85rem;
    font-weight: bold;
    color: #0b0b0b;
}