/* date 17-06-2025 */
/* custom css for merchant panel only by Arvind */


/* ================media css============= */

@media only screen and (max-width:500px) {
    .alert {
        flex-direction: column;
    }
}

/* ================media css end============= */


.card,
.alert {
    border-radius: 0;
}

.card-body {
    padding: 5px;
}

/*
.m-boxes .card:hover::after {
   content: "";
    display: block;
    background: #ededed59;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
    */
.m-boxes .card,
.w-card {
    border-bottom: 3px solid #08508d;
}

.w-card {
    border-bottom: 3px solid #38f768;
}

.w-card:hover::after {
    content: "";
    display: block;
    background: #ccf5d857;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.wb-kyc {
    background-image: url(../../assets/images/wallet.png);
    background-size: 178px 152px;
    /* height: auto; */
    padding: 2.5rem !important;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    background-position: left;
    background-repeat: no-repeat;
}

.w-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wb-bl h3 {
    background: #08508d;
    padding: 6px 18px;
    border-radius: 24px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

.kb-vol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.w-card-inner {
    padding: 0 8px;
}

.w-card-inner h3 {
    font-size: 1.2rem;
    color: #90cb1a;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.w-card-inner h4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #08508d;
    font-weight: 400;
}

.w-card-inner h5 {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
    color: #999999;
    font-weight: 400;
}

#customer-rate-graph {
    height: 220px;
    min-height: 220px !important;
}

.page-header-title h2 {
    font-size: 1.25rem;
    font-weight: 600;
    text-shadow: 0px 2px 2px #bae6ff;
    color: #a7a7a7;
    text-transform: uppercase;
}

.page-header {
    display: inline;
}

.billing-table th,
.all-txn-kyc table th {
    padding: 8px 12px !important;
    background: #08508d !important;
    color: #fff !important;
    border: 1px solid #e2e2e2;
    text-align: center;
}

.billing-table td,
.all-txn-kyc table td {
    padding: 6px 12px !important;
    font-size: 0.8rem !important;
    border: 1px solid #e2e2e2;
    text-align: center;
}

.all-txn-kyc {
    min-height: 250px;
    height: 250px;
    overflow: auto;

}

.kyc-pagination {
    padding: 10px 20px;
}

.pagination-inner .pagination {
    margin: 0;
}

.tt-k .input-group-text,
.tt-k input,
.tt-k select {
    border-radius: 0 !important;
    height: 36px !important;
    padding: 0 15px !important;
}

.flatpickr-calendar input,
.flatpickr-calendar select {
    padding: 0 !important;
}

button {
    padding: 7px 20px !important;
}

.balance-add .modal-header {
    padding: 10px;
    background: #3ec9d6;
}

.balance-add .modal-header .h4 {
    color: #fff;
    font-size: 0.88rem;
}

/* custom css for merchant panel only by Arvind end */