server:
  port: 3081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/abcm_kyc_ms_db?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false
    show-sql: true

merchantDetails: http://localhost:8087/app/public/fetchById?mid=
kyc.recent.minutes: 60 

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info
  endpoint:
    health:
      show-details: always

prometheus:
  metrics:
    export:
      enabled: true

logging:
  level:
    root: INFO
    org.springframework: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: C:/Kyc-Service-Log/logs/kyc-report-log/kyc.log
    