spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/abcm_kyc_ms_db?createDatabaseIfNotExist=true&useUnicode=yes&characterEncoding=UTF-8
    username: root
    password:  Abcmapp@123
    driver-class-name: com.mysql.cj.jdbc.Driver  # Explicitly define the driver class name
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
ContextPath: http://203.192.228.125:1002/abcm-gst-api
merchantDetails: http://203.192.228.125:1002/KycRouting

server:
  port: 8045

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info
  endpoint:
    health:
      show-details: always
prometheus:
 metrics:
 export:
 enabled: true

 
 spring.jpa.properties.hibernate.format_sql: true
 
 LogFilepath: /home/logs/kyc-panel/gst-service/

 
 
