server:
  port: 8045

spring:
  datasource:
    url: jdbc:mysql://wnpay-prd.cayouse6wadz.ap-south-1.rds.amazonaws.com:3306/abcm_kyc_ms_db?createDatabaseIfNotExist=true&useSSL=true&useUnicode=yes&characterEncoding=UTF-8
    username: wnpayadmin
    password: AbcmWnpayRds2022
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    root: INFO

merchantDetails: https://ekyc.ablepay.in/KycRouting

LogFilepath: /home/ekyc-log/abcm-voter-api-log/

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info
  endpoint:
    health:
      show-details: always

prometheus:
  metrics:
    export:
      enabled: true

ContextPath: https://ekyc.ablepay.in/abcm-voterid-api

#clientUrl: http://localhost:8087


clientUrl: https://ekyc.ablepay.in/view-kyc

